CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003
STRIPE_SECRET=
STRIPE_SUCCESS_URL= http://localhost:3003/payments/succes
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
#https://dashboard.stripe.com/test/workbench/webhooks/we_1QjpkqB762YOl9g9KgwOBaQp
#Signing secret: whsec_·················Reveal
STRIPE_ENDPOINT_SECRET=

NATS_SERVERS="nats://localhost:4222"
# NATS_SERVERS="nats://localhost:4222,nats://localhost:4222"